extends layouts/main-layout.pug

block content
    
    if errorMessage 
        span.errorMessage #{errorMessage}
    else 
        script.     
            const chatId = '!{chat._id}'
        
        .chatPageContainer
            .chatTitleBarContainer 
                +createChatImage(chat, loggedInUser)
                span#chatName(data-bs-toggle='modal', data-bs-target='#chatNameModal') #{chat.chatName}
            
            .mainContentContainer 
                .loadingSpinnerContainer 
                    img(src='/images/loading.gif', alt='loading...')
                .chatContainer(style='visibility: hidden')
                    ul.chatMessages

                    .typingDots 
                        img(src='/images/typingDots.gif', alt='typing...')

                    .footer 
                        textarea.messageInputTextBox(name='messageInput', placeholder='Type a message...')
                        button.sendMessageButton 
                            i.fas.fa-paper-plane

        +createchatNameModal(chat)
block scripts
    script(src='/js/chatPage.js') 