extends layouts/login-layout.pug

block content
    .loginContainer
        h3 Login
        form(method="post")
            p.loginErrMsg #{errorMessage || ''}

            input(type="text", name="loginUsernameOrEmail", placeholder="Username or Email", value=loginUsernameOrEmail, required="")
            input(type="password", name="loginPassword", placeholder="Password", value=loginPassword, required="")
            input(type="submit", value="Login")
        .loginSignupOptions Do not have an account? 
            a(href="/signup") 
                button Sign Up
            
