extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Login
        form(method="post")
            input(type="text", name="loginUsername", placeholder="Username or Email", required="")
            input(type="password", name="loginPassword", placeholder="Password", required="")
            input(type="submit", value="login")
        p Do not have an account? 
            a(href="/signup") Sign up here.
            
