@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Libre+Franklin&family=Nova+Mono&display=swap');

:root {
    --rosybrown: rosybrown;
    --boxShadow: rgba(100,100,100,0.3);
    --creamBgColor: moccasin;
}

* {
    font-family: 'Nova Mono', 'Libre Franklin', sans-serif;
}

h1, h2, h3, h4, h6 {
    font-family: 'Arvo', 'Libre Franklin', sans-serif;
}

body {
    background-color: var(--creamBgColor);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
}

.wrapper img {
    width: 380px;
    height: 380px;
    align-self: center;
    margin: 20px;
}

.loginContainer {
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #fffcf0;
    border: 2px solid var(--rosybrown);
    text-align: center;
    box-shadow: 3px 5px 10px var(--boxShadow);
    -webkit-box-shadow: 3px 5px 10px var(--boxShadow);
    -moz-box-shadow: 3px 5px 10px var(--boxShadow);
}

form {
    display: flex;
    flex-direction: column;
}

input[type='text'], input[type='email'], input[type='password'] {
    margin: 0 0 20px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #dedede;
}

input[type='submit'],
button {
    width: 100%;
    margin: 0 0 10px;
    padding: 5px 10px;
    background-color: var(--creamBgColor);
    border: none;
    border-radius: 50px;
}

button {
    background-color: transparent;
    border: 3px solid var(--creamBgColor);
}

p.signupErrMsg, p.loginErrMsg{
    font-size: 14px;
}

.loginSignupOptions {
    margin: 15px auto 0;
}