mixin createPostForm(loggedInUser)
    .postFormContainer
        .userImageContainer
            img(src=loggedInUser.profileImg, alt=`User's profile photo`)
        .textareaContainer
            textarea#postTextarea(placeholder=`What's happening? `)
            .buttonContainer
                button#submitPostButton(disabled='') Post